/* FONTES */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

nav {
  background-color: black;
}


.index-t1 {
  margin-top: 25px;
  font-family: "Roboto";
  font-size: 1.4em;
}

.index-t2 {
  font-family: "Roboto";
  font-size: 1.3em;
  color: rgb(216, 216, 0);
}

.background {
    background-repeat: no-repeat;
    background-position: center;
  background-size: cover;
  height: 100vh;
  margin-top: -50px;
  background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgb(255, 255, 255)),
    url("/assets/img/index/background-pc.png");
  }
.navbar-brand img {
  width: 50px;
}
.navbar-nav {
  align-items: center;
}
.navbar .navbar-nav .nav-link {
  color: #cfcfcf;
  font-size: 1.4em;
  padding: 0.5em 1em;
  font-family: "Roboto";
}

.navbar .nav-link:hover {
  color: white !important;
}

.btn-saiba {
  background-color: #ffd500;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: "Rubik";
  font-size: 1.1em;
  padding: 8px 30px;
  margin-top: 50px;
  margin-bottom: 100px;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.btn-saiba:hover {
  background-color: #ffd500;
  color: #fff;
  transform: scale(1.03);
}
.btn-saiba:active {
  position: relative;
  top: 1px;
}

.fade-in {
  opacity: 0;
  transform: translateY(70px);
  transition: all .8s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

#r-veicular {
  height: 100vh;
  padding-top: 40px;
}

.rt-t1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
  text-align:justify;
}
@media screen and (min-width: 768px) {
  body {
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
  }

  .background {
    background-repeat: no-repeat;
    background-position: center;
  background-size: cover;
  height: 130vh;
  margin-top: -50px;
  background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgb(255, 255, 255)),
    url("/assets/img/index/background-pc.png");
  }

  .index-t1 {
    font-family: "Roboto";
    font-size: 2.6em;
  }

  .index-t2 {
    font-family: "Roboto";
    font-size: 2em;
    color: rgb(255, 230, 0);
  }

  .navbar-brand img {
    width: 50px;
  }
  .navbar-brand {
    margin-right: 0;
    padding: 0 1em;
  }

  .btn-saiba {
    background-color: #ffd500;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: "Rubik";
    font-size: 1.3em;
    padding: 13px 73px;
    text-decoration: none;
    transition: transform 0.3s ease;
  }
  .btn-saiba:hover {
    background-color: #ffd500;
    color: #fff;
    transform: scale(1.03);
  }
  .btn-saiba:active {
    position: relative;
    top: 1px;
  }
  .rt-t1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  margin-left: 110px;
  margin-right: 110px;
  text-align:justify;
}
}
