/* FONTES */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

nav {
  background-color: black;
}

body {
  background-image: url(/assets/img/index/background-pc.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
}

.index-t1 {
  margin-top: 25px;
  font-family: "Roboto";
  font-size: 1.1em;
}

.index-t2 {
  font-family: "Roboto";
  font-size: 1.0em;
  color: rgb(216, 216, 0);
}

.navbar-brand img {
  width: 50px;
}
.navbar-nav {
  align-items: center;
}
.navbar .navbar-nav .nav-link {
  color: #cfcfcf;
  font-size: 1.4em;
  padding: 0.5em 1em;
  font-family: "Roboto";
}

.navbar .nav-link:hover {
  color: white !important;
}

.btn-saiba {
  background-color: #ffd500;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: "Rubik";
  font-size: .9em;
  padding: 8px 30px;
  margin-top: 50px;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.btn-saiba:hover {
  background-color: #ffd500;
  color: #fff;
  transform: scale(1.03);
}
.btn-saiba:active {
  position: relative;
  top: 1px;
}
@media screen and (min-width: 768px) {
  body {
    background-image: url(/assets/img/index/background-pc.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
  }

  .index-t1 {
    font-family: "Roboto";
    font-size: 2.6em;
  }

  .index-t2 {
    font-family: "Roboto";
    font-size: 2em;
    color: rgb(255, 230, 0);
  }

  .navbar-brand img {
    width: 50px;
  }
  .navbar-brand {
    margin-right: 0;
    padding: 0 1em;
  }

  .btn-saiba {
    background-color: #ffd500;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: "Rubik";
    font-size: 1.3em;
    padding: 13px 73px;
    text-decoration: none;
    transition: transform 0.3s ease;
  }
  .btn-saiba:hover {
    background-color: #ffd500;
    color: #fff;
    transform: scale(1.03);
  }
  .btn-saiba:active {
    position: relative;
    top: 1px;
  }
}
